
// color names
$light-turquoise: #71b2b4;
$dark-turquoise: #42989b;
$light-grey: #D5DDDE;
$pale-yellow: #FFFACD;

// color object
$logo-color: #85E0E8;
$footer-color: $light-turquoise;
$copyright-bg: $dark-turquoise;
$hero-text: $pale-yellow;

//<----------------------  ---------------------->

body {
  font-family: 'Roboto', sans-serif !important;
  text-align: center;
}

h2 {
  display: inline-block;
  border-bottom: solid 5px $logo-color;
  font-size: 2.5rem;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: 0.06em;
  line-height: 1.1;
  margin-bottom: 30px;
  padding-bottom: 10px;
  padding-top: 20px;
  font-weight: 600;
}

p {
  line-height: 1.6;
  font-size: 1.3rem;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

ul {
  padding: 0;

  li {
    list-style-type: none;
  }
}

//<---------------------- Navbar ---------------------->
.navbar {
  background-color: white;
  position: fixed;
  width: 100%;
  transition: top 0.3s;
  z-index: 10;
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.13);

}

// Hamburger menu animation

.navbar-toggler {
  border: none;
  background: transparent;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent;
}

.navbar-toggler .icon-bar {
  background-color: black;
  transform: rotate(0) translate(0, 0);
  transition: ease all .2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 4px;
}

.icon-bar:nth-child(2) {
  width: 16px;
  transition: ease all .2s;
}

.navbar-toggler:hover>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:active>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all .2s;
}

// Underline active links in navbar
nav {
  ul {
    li {
      a {
        border-bottom: transparent solid 5px;
        padding-bottom: 5px;
      }

      a:hover {
        border-bottom: $logo-color solid 5px;
      }
    }
  }
}

.navbar-brand {

  h4 {
    font-family: 'Oswald', sans-serif;
    vertical-align: bottom;
    display: inline-block;
    font-size: 1.4rem;
    padding-left: 10px;
  }
}

// <---------------------- ---------------------->
//Background images

// hero image
.heroimg {
  width:100%;
  height:700px;
  background: url('images/hamster2-4500.jpeg');
  background-repeat: no-repeat;
  background-position: left;
  background-size:cover;
  background-attachment: fixed;

// Hero image text
  h1 {
    font-family: 'Oswald', sans-serif;
    padding-top: 5.1rem;
    font-size: 3.6rem;
    color: white;
    text-shadow: 0.5px 1px 1px #000;
    text-align: right;
    margin-right: 100px;

    .phoebe {
      color: $pale-yellow;
      font-size: 4rem;
      }
    }

    p {
      font-family: 'Oswald', sans-serif;
      font-size: 3rem;
      color: white;
      text-shadow: 0.5px 1px 1px #000;
      text-align: right;
      margin-right: 100px;
    }
  }


// About me

#about {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width:100%;
  height:auto;
  background: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)),
      url('images/aboutbg1.jpeg');
  background-repeat:repeat;
  background-position: center;
  background-size:cover;

  h2 {
    color: white;
  }

  p {
    color: white;
    margin-left: 30px;
    margin-right: 30px;
  }
}

//<---------------------- Portfolio section ---------------------->
#portfolio {
  h2 {
    padding-top: 3.5rem;
  }

}

// card deck
.card-deck {
  padding-bottom: 3rem;

  .card {
    box-shadow: 3px 3px 6px 0px rgba(112,110,110,1);
  }

  .card1 {
    padding-bottom: 1rem;

    .card-body {
      padding: 0.5rem;

      img {
        border: 1px solid $light-grey;
      }
      .card-text {
        font-size: 1rem;
        color: white;

      }

      .card-title {
        padding-top: 1rem;
        color: white;
      }
    }
  }

  .card2 {
    padding-bottom: 1rem;

    .card-body {
      padding: 0.5rem;

      img {
        border: 1px solid $light-grey;
      }
      .card-text {
        font-size: 1rem;
        color: white;

      }

      .card-title {
        padding-top: 1rem;
        color: white;
      }
    }
  }

  .card3 {
    padding-bottom: 1rem;

    .card-body {
      padding: 0.5rem;

      img {
        border: 1px solid $light-grey;
      }
      .card-text {
        font-size: 1rem;
      }

      .card-title {
        padding-top: 1rem;
      }
    }
  }
}

.card1 {
  background-image: linear-gradient(to right top, #fd8de1, #ec82e7, #d77aef, #bc74f7, #9a70ff);
}

.card2 {
  background-image: linear-gradient(to right top, #3653a7, #006196, #006370, #2d5f50, #4f5948);
}

.card3 {
  background-image: linear-gradient(to left bottom, #17a2b8, #71b3d1, #a9c5e0, #d4dae9, #f2f2f2);
}

//<---------------------- Skills section ---------------------->

#skills {
  h2 {
    padding-top: 3.5rem;
  }
}

.jquery {
  padding-bottom: 12px;
}

.bootstrap-logo {
  padding-bottom: 2px;
  max-width: 70px;
  min-height: 77px;
}

.redux {
  max-width: 70px;
  max-height: 80px;
  padding-bottom: 16px
}

.card-skills {
  max-width: 800px;
  margin: 0 auto;
  float: none;
  margin-bottom: 1.5rem;
  box-shadow: 3px 3px 6px 0px rgba(112,110,110,1);

  p {
    font-size: 1rem;
  }

  .card-body {
    p {
      font-size: 1rem;
    }
  }
}

//<---------------------- Contact section ---------------------->
.card-contact {
  max-width: 800px;
  margin: 0 auto;
  float: none;
  box-shadow: 3px 3px 6px 0px rgba(112,110,110,1);

  .card-body {
    .form-group {
      .row {
      padding-top: 15px;
      }
    }
  }
}

.hide {
  display: none !important;
}

#contact {
  background: linear-gradient(to bottom, #ffffff 90%, $footer-color 10%);
  h2 {
    padding-top: 3.5rem;
  }
}

//<---------------------- footer ---------------------->

.footer {
  background-color: $footer-color;

  .sm-icons {
    margin-top: 5rem;
    margin-bottom: 5rem;

    a {
    	text-decoration: none;

      i:hover{
      	opacity: 0.5;
      }
    }

    .sm-icon {
      margin-left: 4vw;
      margin-right: 4vw;
    }
  }

  .copyright {
    background-color: $copyright-bg;
    max-width: 2500px;

    .row {

      p {
        color: white;
        font-size: 0.8em;
        padding-top: 10px;
        margin-bottom: 0;
      }
    }
  }
}

//Icon attribution
.icon-credit {
  p {
    font-size: 0.3rem;
  }

  a {
    color: white;
  }
}

// RESPONSIVE css
//----------------------

// most smartphones (portrait)
@media (min-width: 320px)
and (max-width: 480px)
and (orientation: portrait) {
  #home {
    background-attachment: scroll;
    background-position: left -70px bottom 0px;
  }
  .heroimg {
    h1 {
      padding-top: 4.4rem;
      font-size: 2.7rem;
      margin-right: 0px;

      .phoebe {
        font-size: 3rem;
        }
      }

      p {
        font-size: 2.3rem;
        line-height: 1.3;
        margin-right: 0px;
      }
    }

    #about {
      p {
        font-size: 1.2rem;
        margin-left: 0px;
        margin-right: 0px;
      }
    }
}

// most smartphones (landscape)
@media only screen
  and (min-width: 320px)
  and (max-width: 824px)
  and (orientation: landscape) {
    #home {
      background-attachment: scroll;
    }

    .heroimg {
      h1 {
        text-align: right;
        padding-top: 4.4rem;
        font-size: 3rem;
        margin-right: 0px;

        .phoebe {
          font-size: 3.3rem;
          }
        }

        p {
          text-align: right;
          font-size: 2.5rem;
          margin-right: 0px;
        }
      }
}

// iPhone X
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    #home {
      height: 800px;
      background-attachment: scroll;
      background-position: left -100px bottom 0px;
    }
  }

@media only screen
  and (min-device-width : 375px)
  and (max-device-width : 812px)
  and (-webkit-device-pixel-ratio : 3)
  and (orientation : landscape) {
    #home {
      height: 375px;
      background-attachment: scroll;
    }
  }

  /* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

  /* Portrait */
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      #home {
        height: 720px;
        background-attachment: scroll;
        background-position: left -120px bottom 0px;
      }

      .heroimg {
        h1 {
          p {
            font-size: 2rem;
            line-height: 1.3;
          }
        }
      }
  }

  /* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    #home {
      height: 415px;
      background-attachment: scroll;
    }
}


/* ----------- Galaxy S4, S5 and Note 3 ----------- */


/* Portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    #home {
      height: 720px;
      background-attachment: scroll;
      background-position: left -120px bottom 0px;
    }

    .heroimg {
      h1 {
        p {
          font-size: 2rem;
          line-height: 1.3;
        }
      }
    }
}

/* Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .heroimg {
      h1 {
        font-size: 2.7rem;
        margin-right: 0px;

        .phoebe {
          font-size: 3rem;
          }
        }

        p {
          text-align: right;
          font-size: 2.5rem;
          margin-right: 0px;
        }
      }
}
/*----------- High res desktop -----------*/

@media
(min-width: 1281px) {
  .heroimg {
    width:auto;
    height:100vh;
    }
}
